*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(135deg,#05070d,#0b0f19,#111827);
color:white;
}



/* HEADER */

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:#05070d;
}

.logo{
font-size:24px;
font-weight:700;
color:#4cc9f0;
}

nav a{
color:white;
text-decoration:none;
margin-left:25px;
font-size:14px;
}



/* HERO */

.hero{
text-align:center;
padding:120px 20px;
}

.hero h1{
font-size:48px;
color:#7fb5ff;
}

.hero p{
max-width:600px;
margin:auto;
margin-top:15px;
opacity:0.8;
}

.btn{
display:inline-block;
margin-top:30px;
padding:14px 30px;
background:#4cc9f0;
color:black;
border-radius:8px;
text-decoration:none;
font-weight:600;
}



/* FEATURES */

#features{
padding:100px 10%;
text-align:center;
}

.features-container{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
flex-wrap:wrap;
}

.feature-card{
background:#111827;
padding:30px;
width:260px;
border-radius:12px;
transition:0.3s;
}

.feature-card:hover{
transform:translateY(-10px);
}



/* AI DEMO */

#demo{
padding:100px 10%;
text-align:center;
}

.ai-demo{
background:#111827;
width:420px;
margin:auto;
border-radius:12px;
padding:20px;
}

#chat-box{
height:200px;
overflow-y:auto;
background:#0b0f19;
padding:10px;
border-radius:8px;
margin-bottom:15px;
}

.user-msg{
text-align:right;
margin:8px 0;
color:#4cc9f0;
}

.ai-msg{
text-align:left;
margin:8px 0;
color:white;
}

.input-area{
display:flex;
gap:10px;
}

.input-area input{
flex:1;
padding:10px;
border:none;
border-radius:6px;
}

.input-area button{
padding:10px 15px;
border:none;
border-radius:6px;
background:#4cc9f0;
font-weight:600;
}



/* ROADMAP */

#roadmap{
padding:100px 10%;
text-align:center;
}

.roadmap-container{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
flex-wrap:wrap;
}

.roadmap-card{
background:#111827;
padding:30px;
border-radius:12px;
width:220px;
}



/* FOUNDER */

#founder{
padding:100px 10%;
text-align:center;
}

.founder-card{
background:#111827;
padding:40px;
border-radius:12px;
width:260px;
margin:auto;
margin-top:40px;
}

.founder-card img{
width:90px;
border-radius:50%;
margin-bottom:15px;
}



/* FOOTER */

footer{
text-align:center;
padding:30px;
background:#05070d;
margin-top:50px;
}



/* MOBILE */

@media(max-width:768px){

.features-container{
flex-direction:column;
align-items:center;
}

.roadmap-container{
flex-direction:column;
align-items:center;
}

.ai-demo{
width:100%;
}

  }
